# Dependencies
node_modules/
**/node_modules/
.pnp
.pnp.*

# Testing
coverage/

# Next.js
.next/
**/ .next/
out/

# Production
build/
dist/

# Misc
.DS_Store
*.pem
*.log
.vercel/
**/.vercel/
.env*
**/.env*
next-env.d.ts
*.tsbuildinfo

# IDEs
.vscode/
.idea/
